In [4]:
#Create a Python script file named data_types_and_variables.py. Inside it, write some Python code, that is, \
#variables and operators, to describe the following scenarios. Do not worry about the real operations to 
# get the values; the goal of these exercises is to understand how real-world conditions can be 
# represented with code.

# 1/  You have rented some movies for your kids: The little mermaid (for 3 days), Brother Bear (for 5 days, 
    # they love it), and Hercules (1 day, you don't know yet if they're going to like it). 
    # If price for a movie per day is 3 dollars, how much will you have to pay?

Little_Mermaid = (3 * 3)
Brother_Bear = (5 * 3)
Hercules = (1 * 3)

Little_Mermaid + Brother_Bear + Hercules # result is 27

27

In [3]:
# someone's option in-class
Little_Mermaid = 3
Brother_Bear = 5
Hercules = 1

price_per_day = 3
price_total = price_per_day * (Little_Mermaid + Brother_Bear + Hercules)
price_total

27

In [13]:
# 2/  Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook, 
    # they pay you a different rate per hour. 
    #   Google pays 400 dollars per hour, Amazon 380, and Facebook 350. How much will you receive 
    #   in payment for this week? You worked 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.
    
Google_Pay = (400 * 6)
Amazon_Pay = (380 * 4)
Facebook_Pay = (350 * 10)
Weekly_Pay = (Google_Pay + Amazon_Pay + Facebook_Pay)
Weekly_Pay # 7420

7420

In [5]:
Facebook_Pay = 350
Facebook_Hrs = 10
Google_Pay = 400
Google_Hrs = 6
Amazon_Pay = 380
Amazon_Hrs = 4

weekly_pay = (Facebook_Pay * Facebook_Hrs) + (Google_Pay * Google_Hrs) + (Amazon_Pay * Amazon_Hrs)
print(weekly_pay)

7420

In [15]:
# 3/  A student can be enrolled to a class only if the class is not full and the class schedule does 
    # not conflict with her current schedule.

class_not_full = True
no_sched_conflict = True

enrol_in_class = class_not_full and no_sched_conflict
enrol_in_class # True

enrol_in_class = class_not_full and not no_sched_conflict
enrol_in_class # False

False

In [7]:
#  4/  A product offer can be applied only if people buys more than 2 items, and the offer has not expired. 
    # Premium members do not need to buy a specific amount of products.

buy_more_than_2 = True # buy > 2 to make offer apply
offer_current = True # offer not expired
premium_member = True # can buy any number of items to receive offer

get_offer = buy_more_than_2 and offer_current
get_offer # true

get_offer_all = get_offer or premium_member
get_offer_all # true

True

In [8]:
# in-class solution

get_offer = offer_current and (buy_more_than_2 or premium_member)
get_offer # true

True

username = 'codeup'
password = 'notastrongpassword'

Create a variable that holds a boolean value for each of the following conditions:

    the password must be at least 5 characters
    the username must be no more than 20 characters
    the password must not be the same as the username
    bonus neither the username or password can start or end with whitespace

In [79]:
username = 'codeup'
password = 'notastrongpassword'
print(username)
len(username)

if len(username) > 5:
        print(username)
else:
        print('less than 5')

codeup
codeup

In [78]:
check_1 = len(username) >= 5
check_2 = len(password) <= 20
check_3 = username != password
check_3

True

In [77]:
username = 'codeup'
print(username)
len(username)

if len(username) > 5:
        print(True)
else:
        print(False)

codeup
True

In [103]:
password = 'notastrongpassword'
if len(password) <= 20:
    print('Good choice.')
else:
    print('Try again.')

Good choice.

In [27]:
password = 'notastrongpassword'
if len(password) <= 20:
    print(True)
else:
    print(False)

True

In [75]:
if password == username:
    print('Not permitted.')
else:
    print('Accepted.')

Accepted.

In [109]:
if password == username:
    print(False)
else:
    print(True)

True

In [115]:
# in-class bonus

username = "greencup"
no_whitespace_username = not(username.startswith(' ') or username[-1] == ' ')
no_whitespace_password = not(password.startswith(' ') or (password[-1] == ' '))

no_whitespace_username # true
no_whitespace_password # true

user_and_pass_valid = no_whitespace_password and no_whitespace_username
user_and_pass_valid

True