In [ ]:
# this is the first line.
# hitting 'enter' returns to the next line.
# esc + b enters a cell below.
# esc + a enters a cell above.
# esc + x deletes a cell.`

In [16]:
type(12)

int

In [17]:
type('bonjour')

str

In [19]:
type(True)

bool

In [43]:
favourite_number = 23
n = favourite_number + 4
print(n)
print(favourite_number)
type(favourite_number)

27
23

int

In [33]:
x = 3
print(x)
x = x + 3
print(x)
x = 3 + x * 3
print(x)

3
6
21

In [54]:
True == True

False

In [47]:
True == False

False

In [48]:
False == True

False

In [49]:
False == False

True

In [55]:
False == False == False

True

In [59]:
True != False
False != True # both of these are true
True != True # this is false
False != False # this is false

False

In [72]:
not False # true. 'Not' operator takes the opposite boolean value.
not True # false
not not True # true
True and True # true
True and False # false
True and not False # true
False and False # false 
False and not True # false
False and not not True # false
True and not not False # false

False

In [77]:
True or False # true
False or not True # false
False and True or False # false
True and False or True # true

True

In [86]:
is_first_of_the_month = True
report_has_been_sent = False

should_process_report = is_first_of_the_month and not report_has_been_sent

print(should_process_report)

True

In [128]:
s = '  Hello, skywindow !   ' #variable called 's' ; string called 'Hello, skywindow !'.
s.lower() # a 'method' updates, but doesn't modify the original string's value.
s.strip() # 'variable.strip' removes the extra space
s.isdigit() # false
'23'.isdigit() #true. Must have the quotes around value / string.
s.strip().split(', ')
', '.join(['un','deux','trois', s])
', '.join(['un','deux','trois'])

'un, deux, trois'

In [19]:
#a list : it uses []
fenêtre = ['Bonjour, ' 'fenêtre']
print(fenêtre)

[1,2,3]
type([1,2,3]) # this is a list of integers
# list with three strings
ma_liste = ['on'  'y','va'] # the brackets contain a single list 
print(ma_liste)

trois_listes = [[1, 'deux', 3], ['quatre', 5, 6], [7, 8, 'neuf']] # a list of 3 lists
print(trois_listes)

['Bonjour, fenêtre']
['ony', 'va']
[[1, 'deux', 3], ['quatre', 5, 6], [7, 8, 'neuf']]

In [26]:
# generating lists
[n for n in range(7)] # variable n (spaceholder) sets n for every n (spaceholder) in range 7.
# python counting starts at zéro

[0, 1, 2, 3, 4, 5, 6]

In [25]:
[n * 2 for n in range(7)] # multiplies each value in the range * 2.

[0, 2, 4, 6, 8, 10, 12]

In [12]:
[n * 2 for n in range(7) if n % 2 == 0]

[0, 4, 8, 12]

In [13]:
[n * 2 for n in range(7) if n % 2 != 0]

[2, 6, 10]

In [30]:
[n * 2 for n in range(7) if n % 2 == 0]

[0, 4, 8, 12]

In [ ]:
# strings
# https://ds.codeup.com/python/data-types-and-variables/#string-formatting

In [2]:
# string operations
# must specify how strings are to appear visually : How do we want them to look ?

print('Here is a single quote --> \' <-- ') 
# this makes the ' a distinct character, not something that wraps a string.'
print("Here is a single quote --> ' <-- ")
# this has double quotes, so the computer is not confused about the single quote.

print()
print("Here is a double quote --> \" <--")
print('Here is a double quote --> " <--')
print()
print('Newlines are indicated by the character "n" preceded by a backslash, like so :')
print()
print('This string\ncontains a newline')

Here is a single quote --> ' <--
Here is a single quote --> ' <--

Here is a double quote --> " <--
Here is a double quote --> " <--

Newlines are indicated by the character "n" preceded by a backslash, like so :

This string
contains a newline

In [3]:
'''
This string
can contain
a lot of
text!
'''
# ''' ''' allows to keep entered formatting.

'\nThis string\ncan contain\na lot of\ntext!\n'

In [8]:
print("This string\ncan contain\na lot of\ntext!\n")

This string
can contain
a lot of
text!

In [16]:
# string operations 
# adding strings is concatenation

'hello' == 'hello' # True
'abc' != 'qwe' # True
'green' + 'cup' # greencup
'green ' + '1' # green 1
'green ' * 3 # 'green green green '

'green green green '

In [18]:
# STRONG FORMATTING, or, HOW TO ADD VARIABLES INTO A STRING.

name = "le monde"
# variable named 'name'. Stores string to the variable name

# use this variable in another string
'Bonjour, %s !' % name
# the '%s' is a spaceholder for the variable's content. Find-and-replace.

'Bonjour, le monde !'

In [19]:
'Hello, {} !'.format(name)
# the {} represents the variable name. A different way to placehold.

'Hello, le monde !'

In [21]:
f'Bonjour, {name}.'
# 'f' = 'formatting'
# { } contains the variable name

'Bonjour, le monde.'

In [24]:
'123'.isdigit() # true
s.strip().split(', ')

NameError: name 's' is not defined

In [76]:
numbers = [1,2,3] # assigning values to a list
numbers

[1, 2, 3]

In [77]:
numbers.append(37) # adds the integers in () to the original list
numbers

[1, 2, 3, 37]

In [78]:
numbers.pop()
numbers

[1, 2, 3]

In [79]:
len(numbers)

3

In [80]:
numbers[0] # gives the first numbers in the list. List has index of 0 (starts with 0).

1

In [85]:
numbers[-1] # gives full list
numbers[:] # gives full list

[1, 2, 3]

In [86]:
numbers[:2] # gives up to, but not including, the index number (ie, up to, but not including, 
# what is in the position of '2').

[1, 2]

In [87]:
numbers[1:2] # starts at the first index and stops at the penultimate to the final index.

[2]

In [88]:
numbers[1:] # starts at the index of 1

[2, 3]

In [90]:
list(range(14))
# create a zéro-indexed list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [98]:
my_no_list = list(range(14))
my_no_list # variable stores the list for future use.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [92]:
list('asb df') 
# separates each character into its own entity

['a', 's', 'b', ' ', 'd', 'f']

In [96]:
list(map(str, [1,2,3,4,45]))
# this takes each integer and makes it a string 
# (what the map function does : applies opperation of string to all the integers)

['1', '2', '3', '4', '45']

In [101]:
# LIST syntax : []
    # lists for elements of same type
    
# TUPLES are : 
    # immutable (unlike lists, which are mutable), use ('tuple') instead of ['list']
    # elements of different types
(2, 'trois', ['t','we','ef'])

(2, 'trois', ['t', 'we', 'ef'])

In [103]:
my_tuple = (12,3)
my_tuple[1]

3

In [118]:
# DICTIONAIRES
    # where to 'look up' something, or retrieve a piece of info.
    # paired entries : value (key-value pair)
    # enclosed by {}
{'name' : 'Codeup', 'age' : 4} # name is key, Codeup is value

{'name': 'Codeup', 'age': 4}

In [114]:
# DICTIONAIRES
    # another dict function creation : 
dict (name = 'Codeup', age = 4)
# this does not work : dict {name = 'Codeup', age = 4}
# value can be accessed in a dictionary with the name (key) associated with it.

{'name': 'Codeup', 'age': 4}

In [126]:
school = dict(name = 'Codeup', age = 4) #assigning a variable to the dictionary
school

{'name': 'Codeup', 'age': 4}

In [127]:
school['name'] # pulls out value of the key. [] tells value to which access is wanted

'Codeup'

In [138]:
school['age'] += 1
# variable 'school' with pull for string 'age' value ; adds 1 to string 'age'
school

{'name': 'Codeup', 'age': 13}

# headings
**bold** ('**word**')
# '#' makes heading
## '##' makes smaller heading
### '###' makes even smaller heaing

In [149]:
# EXERCISES

# https://ds.codeup.com/python/data-types-and-variables/#exercises

type(99.9) # float
type("False") # string
type(False) # boolean
type('0') # string
type(0) # integer
type(True) #boolean
type('True') # string
type([{}]) # list
{'a': []} # {'a': []} is this a dictionary ? or a ty

{'a': []}

**What data type would best represent:**


    A term or phrase typed into a search box? -- string
    
    If a user is logged in? -- boolean
    
    A discount amount to apply to a user's shopping cart? -- integer
    
    Whether or not a coupon code is valid? -- boolean
    
    An email address typed into a registration form? -- string
    
    The price of a product? -- float
    
    A Matrix? -- integers and floats ??? a list ???
    
    The email addresses collected from a registration form? -- string
    
    Information about applicants to Codeup's data science program? -- string

In [150]:
# For each of the following code blocks, read the expression and predict what the result of evaluating it 
#  would be, then execute the expression in your Python REPL.

# this will not work
'1' + 2
# this did not work

TypeError: can only concatenate str (not "int") to str

In [151]:
# this will give the remainer of 6 divided by 4
6 % 4
# this gave the remaineder of 6 divided by 4, which was 2.

2

In [152]:
# this will tell what type the function is (6 % 4)
type(6 % 4)
# this told what type the function was : integer

int

In [ ]:
# adding a list
'3 + 4 is ' + 3 + 4

In [ ]:
# adding a string and integers does not work
'3 + 4 is ' + 3 + 4
# adding a string and integers does not work

In [155]:
# boolean will say 'false'
0 < 0
# boolean said 'false'

False

In [156]:
# boolean will say 'false' (string vs boolean operator)
'False' == False
# boolean said 'false'

False

In [157]:
# boolean will say 'false' (string vs boolean operator)rue == 'True'
True == 'True'
# boolean will say 'false' (string vs boolean operator)rue == 'True'

False

In [158]:
# comparing two integers : True
5 >= -5
# compared two integers : True

True

In [159]:
# boolean is not a string
True or "42"
# boolean has a 'true' because of the 'or'

True

In [160]:
# will give remaineder of 6 divided by 5
6 % 5
# gave remaineder of 6 divided by 5

1

In [161]:
# comparing two sides : True
5 < 4 and 1 == 1
# Ugh, my misreading of < : False

False

In [162]:
# will comparare the sides of 'and' : False
'codeup' == 'codeup' and 'codeup' == 'Codeup'
# compared the sides of 'and' : False

False

In [164]:
# boolean comparing the two sides : True
4 >= 0 and 1 !== '1'
# True... if the extra = had not been there

True

In [165]:
# boolean of the remainder of 6 divided by 3 being 0 : True
6 % 3 == 0
# boolean of the remainder of 6 divided by 3 being 0 : True

True

In [166]:
# boolean of the remainder of 5 divided by 2 NOT being 0 : True
5 % 2 != 0
# boolean of the remainder of 5 divided by 2 NOT being 0 : True

True

In [168]:
# list of [1] being added to integer 2. Not sure
[1] + 2
# TypeError: can only concatenate list (not "int") to list

[1, 2]

In [169]:
# this will give a list of [1, 2]
[1] + [2]
# this gave a list of [1, 2]

[1, 2]

In [170]:
# this will list [1] twice
[1] * 2
# this listed [1] twice : [1, 1]

[1, 1]

In [171]:
# this will muptiply 1 * 2
[1] * [2]
# or not : TypeError: can't multiply sequence by non-int of type 'list'

TypeError: can't multiply sequence by non-int of type 'list'

In [172]:
# not sure
[] + [] == []
# True

True

In [173]:
# will add the two {} ??
{} + {}
# will not add the two : TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'